.editor {
  .toolbar {
    padding: 0;
    background: transparent;
    border: 0;
  }

  figure {
    padding: 0 !important;
    margin: 0 !important;
  }

  :global(.rdw-image-imagewrapper) {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
}
