@import "~@theme/colors";
@import "~@theme/spacings";

.title {
  border-bottom: 1px solid fadeout(@black, 90%);
  padding-bottom: @global-space;
}

.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 60px;
}
