.logo {
  max-width: 100%;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  transition: 0.2s all ease-in-out;
  &:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

.paragraph {
  font-size: 14px;
  line-height: 14px * 1.5;
}
