@import "~@theme/common";
@import "~@theme/colors";

body {
  font-family: @font-family;
  font-size: @font-size;
  line-height: @line-height;
  min-width: 100vw;
  min-height: 100vh;
  color: fadeout(@black, 20%);
}

.wrapper {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}
