@import "~@theme/spacings";
@import "~@theme/colors";
@import "~@theme/responsive";

.wrapper {
  padding: @global-space * 4 0;
  color: @white;
}

.c1,
.c3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  .top {
    flex-grow: 1;
  }
}

@media @mobile {
  .wrapper {
    padding: @global-space 0;
  }
}
